*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3 
form button {
        font-family: "Bungee", cursive;
        font-weight: normal;
        
      }

      body, input, textarea{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      


header {
    padding: 16px 0;
    background-color: #3e424d;
    color: #bb1a1a;

}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #f1ecec;
    font-size: 18px;
}

header nav li a{
   
    color: #b81a1a;
    text-decoration: none ;
}

 .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

 }

 header .container,
 section .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
 }

 .brands-list img {
    height: 24px;
 }
 
 .brands-list li {
    display: inline;
    margin-right: 8px;
 }

 section .container {
    align-items: flex-start;
 }

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    
}

section {
    color: #0e0d0d;
}

section p {
    margin-bottom: 8px ;
}

.gost-capa {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 2px;
}

.social-links a {
    text-decoration: none ;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #3e424d;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #cc2a2a;
}

input:focus, textarea:focus {
    outline-color: #3e424d ;
}

footer {
    background-color: #3e424d;
    color: #e70e0e;
    padding: 16px 0;
}